extends layout

block content
  form(action="/shorten", method="post")
    div(class="form-group col-md-6 text-center")
     input(class="form-control", type="text", placeholder="Enter URL")
     br
     input(class="form-control btn btn-primary", type="submit", value="Shorten")

